@model Exchange_App.DAL.Entities.Currency
@{
    ViewData["Title"] = "EditCurrency";
}

    <div class="currency_container">
        <form asp-action="UpdateCurrency" asp-route-id="@Model.Id" method="post" class="form-horizontal">

            <div class="form-group">
                <label asp-for="CurrencyName" class="col-sm-2 control-label">CurrencyName</label>
                <div class="col-sm-5">
                    <input asp-for="CurrencyName" class="form-control" placeholder="@Model.CurrencyName">
                    <span asp-validation-for="CurrencyName" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SellingPrice" class="col-sm-2 control-label">SellingPrice</label>
                <div class="col-sm-5">
                    <input asp-for="SellingPrice" class="form-control" placeholder="@Model.SellingPrice">
                    <span asp-validation-for="SellingPrice" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PurchasePrice" class="col-sm-2 control-label">PurchasePrice</label>
                <div class="col-sm-5">
                    <input asp-for="PurchasePrice" class="form-control" placeholder="@Model.PurchasePrice">
                    <span asp-validation-for="PurchasePrice" />
                </div>
            </div>

            <div class="form-group">
                <div class=" col-sm-2">
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </div>
            </div>

        </form>
    </div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>